<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         executionOrder="random"
         cacheResult="true">
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="FilamentTeamManager Test Suite">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_KEY" value="base64:4ZDJj2bZtFr3q9oD1Q==" />
    </php>
</phpunit>
